<ion-toolbar>
  <ion-buttons slot="primary">
    <ion-button (click)="closeModal()">
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-note>Mittwoch, 27. Februar</ion-note>
  <ion-title>Klasse 1C</ion-title>
</ion-toolbar>

<ion-content>
  <h3 style="margin-left: 10px;">Anwesend</h3>
  <div *ngFor="let a of anwesenheitFehlend">
    <ion-item>
      <ion-avatar>
        <img src="../../../assets/img/schueler.jpg" />
      </ion-avatar>
      <ion-label>{{a.person}}</ion-label>
      <ion-toggle checked role="checkbox"></ion-toggle>
    </ion-item>
  </div>

  <h3 style="margin-left: 10px;">Fehlend</h3>
  <div *ngFor="let a of anwesenheitFehlend">
    <ion-item>
      <ion-avatar>
        <img src="../../../assets/img/schueler.jpg" />
      </ion-avatar>
      <ion-label>{{a.person}}</ion-label>
      <ion-toggle checked role="checkbox"></ion-toggle>
    </ion-item>
  </div>
</ion-content>
