<form (ngSubmit)="onSubmit()">
  <ion-list lines="full" class="ion-no-margin ion-no-padding">
    <ion-item>
      <ion-label>Vorname <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required type="text" [(ngModel)]="person.vorname" name="vorname"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Nachname <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required type="text" [(ngModel)]="person.nachname" name="nachname"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label>Rolle <ion-text color="danger">*</ion-text></ion-label>
      <ion-select placeholder="bitte auswählen" interface="popover" [(ngModel)]="person.rolle" name="rolle">
        <ion-select-option value="Lehrer">Lehrer</ion-select-option>
        <ion-select-option value="Eltern">Eltern</ion-select-option>
        <ion-select-option value="Schüler">Schüler</ion-select-option>
      </ion-select>
    </ion-item>
    
    <ion-item>
      <ion-label>Image</ion-label>
      <ion-input type="text" [(ngModel)]="person.image" name="image"></ion-input>
    </ion-item>
  </ion-list>

  <div class="ion-padding">
    <ion-button expand="block" type="submit" class="ion-no-margin">Person hinzufügen</ion-button>
  </div>
</form>