<ion-card>
  <img src="../../../assets/img/klasse4a.jpg">
  <ion-card-header>
    <ion-card-subtitle>Klassensteckbrief</ion-card-subtitle>
    <ion-card-title>Klasse 4a</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-list>
      <ion-item button class="cursor" href="/anwesenheit">
        <ion-label>Anzahl SchülerInnen</ion-label>
        <ion-badge color="success">25</ion-badge>
      </ion-item>      
      <ion-item>...</ion-item>
      <ion-item>...</ion-item>
      <ion-item>...</ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>

<ion-card>
  <img src="../../../assets/img/klasse6b.jpg">
  <ion-card-header>
    <ion-card-subtitle>Klassensteckbrief</ion-card-subtitle>
    <ion-card-title>Klasse 6b</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-list>
      <ion-item button class="cursor" href="/anwesenheit">
        <ion-label>Anzahl SchülerInnen</ion-label>
        <ion-badge color="success">28</ion-badge>
      </ion-item>      
      <ion-item>...</ion-item>
      <ion-item>...</ion-item>
      <ion-item>...</ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>

