<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-buttons slot="primary">
    <ion-button (click)="toggleInfiniteScroll()">
      <ion-icon
        slot="icon-only"
        name="infinite"
        color="danger"
        *ngIf="infiniteScroll.disabled"
      ></ion-icon>
      <ion-icon
        slot="icon-only"
        name="infinite"
        *ngIf="!infiniteScroll.disabled"
      ></ion-icon>
    </ion-button>
    <ion-button (click)="searchMode=!searchMode">
      <ion-icon slot="icon-only" name="search" *ngIf="!searchMode"></ion-icon>
      <ion-icon slot="icon-only" name="close" *ngIf="searchMode"></ion-icon>
    </ion-button>
    <ion-button (click)="filterMode=!filterMode">
      <ion-icon slot="icon-only" name="filter"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title *ngIf="!searchMode">Anwesenheit</ion-title>
  <ion-searchbar placeholder="Suche" *ngIf="searchMode"></ion-searchbar>
</ion-toolbar>

<ion-item *ngIf="filterMode">
  <ion-label>Klasse</ion-label>
  <ion-select name="Klasse">
    <ion-select-option value="1A">1A</ion-select-option>
    <ion-select-option value="1B">1B</ion-select-option>
    <ion-select-option value="1C">1C</ion-select-option>
    <ion-select-option value="1D">1D</ion-select-option>
  </ion-select>

  <ion-label>Von </ion-label>
  <ion-datetime
    displayFormat="DD.MM.YYYY"
    min="2019-01-01"
    max="2019-02-28"
    value="2019-01-01"
  ></ion-datetime>

  <ion-label>Bis </ion-label>
  <ion-datetime
    displayFormat="DD.MM.YYYY"
    min="2019-01-01"
    max="2019-02-28"
    value="2019-02-28"
  ></ion-datetime>
</ion-item>

<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <div *ngFor="let a of anwesenheiten">
      <ion-item-sliding #slidingItem>
        <ion-item-options
          side="start"
          (ionSwipe)="openModal('notnew',a)"
        >
          <ion-item-option (click)="openModal('notnew',a)" expandable>
            <ion-icon slot="icon-only" name="pencil"></ion-icon>
            Ändern
          </ion-item-option>
        </ion-item-options>

        <ion-item button (click)="openModal('notnew',a)" detail>
          <ion-thumbnail slot="start">
            <img src="{{a.klasseBild}}" />
          </ion-thumbnail>
          <ion-label>
            <ion-note slot="start">
              {{a.erfasstAm.toLocaleDateString("de-DE", dateShort)}}
            </ion-note>
            <h2>
              Klasse {{a.klasse}}
            </h2>
          </ion-label>
          <ion-badge slot="end" color="success" *ngIf="a.anwesend"
            >{{a.anwesend}}</ion-badge
          >
          <ion-badge slot="end" color="warning" *ngIf="a.fehlend"
            >{{a.fehlend}}</ion-badge
          >
          <ion-badge slot="end" color="danger" *ngIf="a.unentschuldigt"
            >{{a.unentschuldigt}}</ion-badge
          >
        </ion-item>

        <ion-item-options side="end" (ionSwipe)="deleteAnwesenheit(a)">
          <ion-item-option
            color="danger"
            (click)="deleteAnwesenheit(a)"
            expandable
          >
            <ion-icon slot="icon-only" name="trash"></ion-icon>
            Löschen
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </div>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="crescent"
      loadingText="Lade weitere Daten..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    
      <ion-fab-button button (click)="openModal('new','')">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
  
  </ion-fab>
</ion-content>
